*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

body{
    background-color: rgb(92, 94, 92);
    font-size: 12pt;
    font-family: Arial;
}

main{
   width: 800px;
   margin: 30px auto;
    background-color: rgb(0, 105, 234);
    box-shadow: 0 0 5px #fff;
    padding: 20px;
}

header{
    font-size: 10pt;
    background-color: rgb(0, 105, 234);
    height: 150px;
    border-radius: 10px 10px 0 0;
}

header h1{
    padding: 45px 0 0 20px;
    color: #fff;
}

header h3{
    color: #fff;
    padding: 5px 0 0 20px;
    font-weight: 100;
}

#menu{
    background-color: #000;
    line-height: 40px;
    padding-left: 40px;
    height: 40px;
    
}

#menu a {
    padding: 0 10px 0 10px;
    color: #fff;
    font-weight: 100;
}

footer{
    text-align: center;
    color: #000;
}

#wrapper{
    background-color: #000;
    border-radius: 0 0 10px 10px;
}

#content{
    float: left;
    width: 500px;
    border-right: 1px solid #000;
    padding: 25px;
    background-color: #fff;
    border-radius: 0 0 0 10px;
    font-size: 10pt;
}

#content img{
    
    width: 100%;
   
}

aside{
    float: left;
    margin: 15px 5px 0 30px;
    width: 190px;

}

.clear{
    clear:both;
}

aside a{
 display: block;
 padding-bottom: 10px;
 color: #fff;
 padding: 10px;

}

aside h3{
    color: #fff;

}

article h2{ 
    padding:10px;
}

ul{
    padding: 25px;
}

p{
    padding: 10px;
}

